main.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.sucursal, .sucursal2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.suc1, .suc2 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}